<div class="hospital">
<% @hospitals.each do |hospital| %>
  <%= hospital.name %>
  <%= hospital.address%>
  <%= hospital.city %>
  <%= hospital.state %>
  <%= hospital.latitude %>
  <%= hopsital.longitude %>
<% end %>
</div>
